

<nav class="navbar navbar-expand-md bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="https://img.freepik.com/iconos-gratis/matematicas_318-221014.jpg?t=st=1672195428~exp=1672196028~hmac=3ca944e3563b7794d280bf30a5c682a0c1b3c6018541100f0f0fb37f337711e3" width="70" height="70"alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;font-size: 40px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">CALCULADORA BÁSICA</a>
      </ul>
    </div>
  </div>
</nav>